@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');
#root {
    height: 100%;
    width: 100%;
    font-family: 'Catamaran', sans-serif;
}

#main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 270px 1fr;
    grid-template-rows: 70px 1fr;
}

